/* 基础设置开始 */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    font-size: 26px;
    color: white;
}

/* 隐藏小眼睛 */
input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-o-clear {
    display: none;
}

/* 隐藏小眼睛 */
a {
    z-index: 100;
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.woff2?t=1669304772186') format('woff2'),
        url('font/iconfont.woff?t=1669304772186') format('woff'),
        url('font/iconfont.ttf?t=1669304772186') format('truetype');
}

.page {
    position: relative;
    margin: auto;
    height: 1060px;
    justify-content: center;
}

.iconfont {
    position: absolute;
    font-family: "iconfont" !important;
    /* font-size: 16px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.4;
}

/* 基础设置结束 */



/* 背景设置开始 */
.background {
    background: url(img/Background.png) no-repeat;
    width: 600px;
}

.backgroundStyle {
    position: absolute;
    top: 0;
    width: 600px;
    height: 1060px;
}

.backgroundMeteor {
    background: url(img/bg1.png);
}

.blackBorder {
    background: url(img/bg2.png);
    opacity: 0.01;
}

/* 背景设置结束 */



/* 头部设置 */
.header {
    position: absolute;
    top: 32px;
    width: 600px;
    height: 49px;
    text-align: center;
    font-family: Lato Medium;
    font-size: 32px;
    color: white;
}

/* 退出图标设置 */
.header .iconl {
    top: 0;
    left: 21px;
    width: 49px;
    height: 49px;
    border-radius: 24.5px;
    font-size: 49px;
}

/* 头部文本 */
.header .headtxt {
    top: 8px;
    font-family: Lato Medium;
    font-size: 32px;
}

/* 详情页图标设置 */
.header .iconr {
    top: 0;
    right: 20px;
    width: 49px;
    height: 49px;
    border-radius: 24.5px;
    font-size: 49px;
}

/* 头部结束 */



/* selectionOne即photo部分开始 */
.selectionOne {
    position: relative;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 149px;
    height: 149px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2PX SOLID rgba(255, 255, 255, 0.3);
    border-radius: 74.5px;
}

/* 大加号设置 */
.selectionOne #mul {
    position: absolute;
    margin: auto;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 65px;
    font-size: 65px;
    color: white;
    opacity: 0.8;
}

/* 文本设置 */
.selectionOne .selectionOneTxt {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

/* selectionOne即photo部分结束 */



/* 输入栏部分开始 */
.selectionTwo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 362px;
    width: 442px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 输入框设置 */
.selectionTwo .inputBox {
    height: 82px;
    width: 442px;
    background-color: transparent;
    outline: none;
}

/* 改变输入后的文字样式 */
.selectionTwo input::placeholder {
    color: white;
    opacity: 0.7;
    font-size: 26px;
}

/* 替换小眼睛的Show */
.selectionTwo .show {
    position: absolute;
    font-size: 26px;
    right: 0;
    color: #3cffb5;
    bottom: 35px;
    background-color: transparent;
}

/* 输入框的底线 */
.selectionTwo .line {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

/* 输入框结束 */



/* 按钮设置 */
.selectionThree {
    position: relative;
    top: 587px;
    left: 50%;
    transform: translateX(-50%);
    width: 441px;
    height: 75px;
}

/* 按钮样式设置 */
.selectionThree .button {
    position: absolute;
    width: 441px;
    height: 75px;
    border-radius: 50px;
    font-size: 32px;
    background: white;
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

/* 穿透文字设置 */
.selectionThree h1 {
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    background: url(img/Background.png) 50% 50%;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
}

/* 按钮设置结束 */



/* 底部文字设置 */
.footer {
    position: absolute;
    margin: auto;
    bottom: 200px;
    width: 600px;
    height: 23px;
    text-align: center;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.footTxt1 {
    position: absolute;
    left: 152px;
    background-color: transparent;
    font-size: 23px;
}

.footTxt2 {
    position: absolute;
    right: 155px;
    width: 80px;
    height: 30px;
    background-color: transparent;
    font-size: 23px;
    color: #3cffb5;
}

/* 设置结束 */



/* 1.定位 
2.设置尺寸 
3.设置盒子替他元素属性 */